@{
    ViewBag.Title = "SalesInformation";
    Layout = null;
}

@using (Html.BeginForm("SalesInformationUpdate", "Accounts", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.ID" />
    <p>
        <label for="sales_stage">Sales Stage:</label>
        <input type="text" name="sales_stage" value="@Model.sales_stage" />
        <label for="account_rank">Account Rank:</label>
        <input type="text" name="account_rank" value="@Model.account_rank" />
        <label for="volume">Volume:</label>
        <input type="text" name="volume" value="@Model.volume" />
        <label for="units">Units:</label>
        <input type="text" name="units" value="@Model.units" />
        <label for="revenue">Revenue:</label>
        <input type="text" name="revenue" value="@Model.revenue" />
        <label for="visits_per_year">Visits Per Year:</label>
        <input type="text" name="visits_per_year" value="@Model.visits_per_year" />
    </p>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input class="btn btn-large btn-primary" type="submit" name="buttonSubmit" value="Save" />
    </div>

}
<script type="text/javascript">
    $(function () {
        LoadModal('Update Sales Information');
    });
</script>
